#body-login {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100vh;
}

#container-login {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 4%;
  border-radius: 16px;
}

#ImgLogo {
  width: 70%;
  padding: 0 0 17.5% 0;
}

#form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-login {
  margin: 0 0 1.5% 0;
}

.input-login {
  padding: 7%;
  background-color: var(--lightgray);
  border: 1px solid var(--margin);
  border-radius: 8px;
  margin: 0 0 7% 0;
}

#ImgLogin {
  width: 40%;
}