#body-login {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100vh;
}

#container-login {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 4% 4% 2% 4%;
  border-radius: 16px;
  animation: elementoEsquerda 2s;
}

#ImgLogo {
  width: 70%;
  padding: 0 0 17.5% 0;
}

#form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-login {
  margin: 0 0 1.5% 0;
}

.input-login {
  padding: 7%;
  background-color: var(--lightgray);
  border: 1px solid var(--margin);
  border-radius: 8px;
  margin: 0 0 5% 0;
}

#ImgLogin {
  width: 40%;
  animation: elementoDireita 2s;
}

#botao-criar-conta {
  background-color: var(--margin);
  padding: 4%;
  border: 2px solid var(--background);
  border-radius: 8px;
  margin: 4% 0 3% 0;
  width: 100%;
  font-weight: bold;
}

#botao-criar-conta:hover {
  background-color: var(--button);
  cursor: pointer;
}

#link-recuperar-senha {
  color: var(--button);
  text-decoration: underline;
}

#link-recuperar-senha:hover {
  cursor: pointer;
  color: blue;
}

@keyframes elementoEsquerda {

  from {
    opacity: 0;
    transform: translateX(-12%)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes elementoDireita {

  from {
    opacity: 0;
    transform: translateX(12%)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}