#background-modalUser{
  width: 100vw;
  height: 100vh;
  background-color: var(--margin);
}

#container-modalUser {
  width: 40%;
  background-color: var(--lightgray);
  border: 2px solid var(--margin);
  border-radius: 12px;
  position: absolute;
}

#container-titlo-modalUser {
  width: 100%;
  text-align: center;
}

#modalUser-titulo {
  padding: 5%;
}

#modalUser-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-input-modalUser {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 1.5%;
}

.input-ModalUser {
  padding: 3%;
  border: 1px solid var(--margin);
  border-radius: 8px;
}

#modalUser-permissoes {
  padding: 1.5%;
  border-radius: 0;
}

div form div label {
  padding: 1%;
}