#tabela-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  margin: 3% 0;
}

#tabela-container::-webkit-scrollbar {
  width: 0;
  /* Largura da barra de rolagem */
}

#tabela-produtos {
  width: 100%;
  background-color: var(--lightgray);
  border-radius: 8px;
  overflow: auto;
}

table tr th {
  padding: 1%;
}

table tr td {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

table tr td:nth-child(even) {
  background-color: #f2f2f2;
}

#container-botao-tabela button:nth-child(1),
#container-botao-tabela button:nth-child(2) {
  margin: 0 3% 0 0;
}

.botao-tabela {
  scale: 0.9;
  transition: 0.3s;
}

.botao-tabela:hover {
  scale: 1;
  cursor: pointer;
}