#container-navbar {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

#logo-nav {
  width: 15%;
}

#container-links-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#links-navbar {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.link-nav {
  color: var(--lightgray);
}

.a-nav {
  text-decoration: underline;
}

.a-nav:hover {
  cursor: pointer;
}