/* Telas grandes: 1440px - Npx */
@media screen and (min-width: 1440px) {

  /* Tela de login */
  .label-login,
  .input-login {
    font-size: 20px;
  }

}

/* Desktops: 1280px - 1440px */
@media screen and (min-width: 1280px) and (max-width: 1440px) {}

/* Laptops e desktops pequenos: 1024px - 1280px */
@media screen and (min-width: 1024px) and (max-width: 1280px) {}

/* Tablets: 768px - 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  /* Componente - Tabela */
  table tr td button img {
    width: 80%;
  }
}

/* Smartphones com telas grandes: 480px - 767px */
@media screen and (min-width: 480px) and (max-width: 767px) {

  /* Componente - Tabela */
  table tr td button img {
    width: 70%;
  }

  table tr td button {
    padding: 0 0;
  }
}

/* Smartphones com telas pequenas: 320px - 480px */
@media screen and (min-width: 320px) and (max-width: 480px) {

  /* Componente - Tabela */
  table tr td button img {
    width: 60%;
  }
}

/* Valores que não mudam conforme a tela diminui */
@media screen and (max-width: 767px) {

  /* Tela de login */
  #body-login {
    flex-direction: column;
  }

  #container-login,
  #ImgLogin {
    width: 50%;
  }

  /* Componente Tabela */
  #container-botao-tabela button:nth-child(1),
  #container-botao-tabela button:nth-child(2) {
    margin: 0 1% 0 0;
  }
}

@media screen and (max-width: 480px) {

  /* Tela de login */
  .label-login,
  .input-login {
    font-size: 12px;
  }

  /* Componentes */
  #dark-button-texto {
    font-size: 16px
  }

  #light-button-texto {
    font-size: 16px
  }

}