#recoverPassword-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5%;
}

#recoverPassword-img {
  width: 45%;
}

#recoverPassword-form {
  background-color: var(--lightgray);
  width: 45%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#recoverPassword-label {
  border-bottom: 1px solid var(--margin);
}

#recoverPassword-label,
#recoverPassword-div-texto,
#recoverPassword-div-input,
#recoverPassword-input,
#recoverPassword-div-button {
  padding: 3%;
}

#recoverPassword-input,
#recoverPassword-div-button {
  width: 100%;
}

#recoverPassword-input {
  background-color: var(--lightgray);
  border: 1px solid var(--margin);
  border-radius: 8px;
}

#recoverPassword-div-button {
  display: flex;
  gap: 2.5%;
  justify-content: center;
  border-top: 1px solid var(--margin);
}

#button-send,
#button-cancel {
  width: 25%;
  padding: 2%;
  font-weight: bold;
  color: var(--lightgray);
  border-radius: 8px;
}

#button-send {
  background-color: var(--send);
  border: 1px solid var(--sendHover);
}

#button-send:hover {
  background-color: var(--sendHover);
  cursor: pointer;
}

#button-cancel {
  background-color: var(--cancel);
  border: 1px solid var(--cancelHover);
}

#button-cancel:hover {
  background-color: var(--cancelHover);
  cursor: pointer;
}