#tabela-produtos {
    width: 90%;
    background-color: var(--lightgray);
    border-radius: 8px;
    max-height: 80vh;
    margin-top: 3%;
  }
  
  table tr th {
    padding: 1%;
  }
  
  table tr td {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  
  table tr td:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #container-botao-tabela button:nth-child(1),
  #container-botao-tabela button:nth-child(2) {
    margin: 0 3% 0 0;
  }
  
  .botao-tabela {
    scale: 0.9;
    transition: 0.3s;
  }
  
  .botao-tabela:hover {
    scale: 1;
    cursor: pointer;
  }